<!DOCTYPE html>
<html data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>

    <section class="bg-base-200">
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
            <div class="py-4">
                <h1 class="text-3xl font-bold">daisyUI</h1>
            </div>
            <div class="py-4">
                <ul class="menu menu-horizontal">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </section>
        

    {% block content %}{% endblock %}

    
</body>
</html>