{% extends "base.html" %}

{% block title %}Glossary - Phishinator{% endblock %}

{% block content %}
<div class="space-y-6 container mx-auto">
    <h1 class="text-3xl font-bold">Glossary</h1>
    <!-- Grid Data Container -->
    <section class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        <!-- Empty fallback notice -->
        <div class="col-span-full bg-slate-100 rounded-xl p-12 text-center border border-dashed border-slate-300">
            <p class="text-slate-500 font-medium">Demo Content.</p>
        </div>
    </section>
</div>
{% endblock %}