{% extends "base.html" %}

{% block title %}Home - Phishinator{% endblock %}

{% block content %}
<div class="space-y-6 container mx-auto">
    <!-- Header Hero Banner -->
    <header class="card text-white rounded-2xl p-8 shadow-md">
        <h1 class="text-3xl font-extrabold tracking-tight md:text-4xl">Welcome to Phishinator</h1>
        <p class="mt-2 max-w-xl">Your go-to resource for analyzing phishing attempts.</p>
    </header>



    <!-- Grid Data Container -->
    <section class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        <!-- Empty fallback notice -->


        <span>
            Upload your .eml file to get
            <span class="text-rotate">
                <span>
                    <span class="bg-red-400 text-red-800 px-2">Threat Scores</span>
                    <span class="bg-yellow-400 text-yellow-800 px-2">IOC Reports</span>
                    <span class="bg-green-400 text-green-800 px-2">AI Explanations</span>
                </span>
            </span>
        </span>

        <div class="col-span-full rounded-xl text-center">
                    <div class="flex items-center justify-center w-full">
                    <div class="flex flex-col items-center justify-center w-full h-64 bg-neutral-secondary-medium border border-dashed border-default-strong rounded-base">
                        <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v9m-5 0H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2M8 9l4-5 4 5m1 8h.01"/></svg>
                        <p class="mb-2 text-sm">Click the button below to upload .eml file</p>
                        <p class="text-xs mb-4">Max. File Size: <span class="font-semibold">2MB</span></p>
                        <!-- Upload Button -->
                        <button type="button" onclick="document.getElementById('dropzone-file-1').click()" class="inline-flex items-center text-black bg-brand hover:bg-gray-300 box-border border border-transparent ring-2 shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none">
                            <svg class="w-4 h-4 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>
                            Browse file
                        </button>
                        </div>
                    </div>

                    <!-- Hidden File Input (Outside Label) -->
                    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                        <input id="dropzone-file-1" type="file" class="hidden" onchange="autoSubmit()" accept=".eml" />
                    </form>
                    </div>
        </div>

    </section>
</div>

</div>

<div class="container mx-auto pb-2 pt-6">
    <h2 class="text-2xl font-bold mb-4 font-dm-sans">Frequently Asked Questions</h2>
<div class="collapse collapse-arrow border border-base-300 mb-2">
    <input type="radio" name="faq-accordion" checked="checked" />
    <div class="collapse-title font-semibold">What is Phishinator?</div>
    <div class="collapse-content text-sm">
        Phishinator is a phishing email analysis tool that examines .eml files and identifies suspicious indicators such as spoofed senders, malicious links, authentication failures, and social engineering techniques.
    </div>
</div>

<div class="collapse collapse-arrow border border-base-300 mb-2">
    <input type="radio" name="faq-accordion" />
    <div class="collapse-title font-semibold">What file formats are supported?</div>
    <div class="collapse-content text-sm">
        Currently, Phishinator supports .eml email files. Simply upload an email file and the platform will generate a detailed security analysis report.
    </div>
</div>

<div class="collapse collapse-arrow  border border-base-300 mb-2">
    <input type="radio" name="faq-accordion" />
    <div class="collapse-title font-semibold">Are my uploaded emails stored?</div>
    <div class="collapse-content text-sm">
        No. Uploaded files are processed only for analysis purposes and are not permanently stored on our servers.
    </div>
</div>

<div class="collapse collapse-arrow  border border-base-300 mb-2">
    <input type="radio" name="faq-accordion" />
    <div class="collapse-title font-semibold">How accurate are the phishing results?</div>
    <div class="collapse-content text-sm">
        Phishinator uses email header analysis, authentication checks, and phishing indicators to assess risk. While highly effective, results should be used as a security aid and not as the sole basis for critical decisions.
    </div>
</div>

</div>


<script>
    // Javascript to do auto submit
    function autoSubmit() {
        const fileInput = document.getElementById('dropzone-file-1');
        // Checking if the size of the file is under 2MB
        if (fileInput.files.length > 0 && fileInput.files[0].size > 2 * 1024 * 1024) {
            alert('File size exceeds 2MB limit. Please choose a smaller file.');
            fileInput.value = ''; // Clear the file input
            return;
        } else
        {
            // Submit the form if the file size is valid
            document.getElementById('upload-form').submit();
        }
    }
</script>


{% endblock %}
